<div class="chatarea" fxLayout="column" fxLayoutGap="1vh">
  <div class="chatmessages" #chatmessages>
    <p class="messagetouser">{{messageToUser}}</p>
    <mat-list>
      <mat-list-item *ngFor="let chat of (curChatList|async)" [ngStyle]="{'text-align':chat.direction==='FROM'?'right':'left'}">
        <h4 matLine *ngIf="chat.direction==='TO';else friendName" style="font-weight: bold">{{userName}}:</h4>
        <ng-template #friendName>
          <h4 matLine style="font-weight: bold">{{friendSelected.name}}:</h4>
        </ng-template>
        <p matLine>
          <span>{{chat.content}}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>
  <div class="chatfooter">
    <form (ngSubmit)="onSendChatMessage(f)" #f="ngForm" fxLayout="row">
      <mat-form-field  fxFlex="1 0 auto">
        <input matInput ngModel name="chatMessage" type="text" placeholder="Enter a message here" autocomplete="off" emptyStringCheck #chatInput="ngModel">
        <mat-error *ngIf="chatInput.invalid">Please enter proper value.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!friendAvailable||chatInput.invalid">Send</button>
    </form>
  </div>
</div>
