.friendslist{
  height: 70vh;
  overflow: auto;
  padding: 2vw 0;
}

mat-card{
  /*display: inline-block;*/
  padding: 8px;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 10px;
  max-width: 8em;
  cursor: pointer;
}

mat-card-header{
  display: inline-flex;
}

mat-card-title{
  /*width: 3.8em;*/
  word-wrap: break-word;
  margin-bottom: 0.6em;
}

mat-card-subtitle{
  margin-top: 0px;
  margin-bottom: 8px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
