<div fxLayout="row" fxLayoutGap="1vh" fxLayoutAlign="center">
  <div fxFlex="15vw" class="friendslist" fxLayout="column" fxLayoutAlign="start end">
    <p class="error" *ngIf="friendsErrorState">{{friendsErrorState|async}}</p>
    <mat-card *ngFor="let friend of friendsListState|async"
    [ngStyle]="{'background-color':friend.online?'lightgreen':'indianred'}"
    (click)="onFriendSelected(friend)">
      <mat-card-header>
        <img mat-card-avatar alt={{friend.name}} src={{friend.avatar}}>
        <mat-card-title>{{friend.name}}</mat-card-title>
        <mat-card-subtitle>{{convertToAge(friend.dob)}}</mat-card-subtitle>
        <mat-card-subtitle><i>{{checkOnline(friend.online)}}</i></mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <!-- <mat-divider [vertical]="true"></mat-divider> -->
  <div fxFlex="0 1 60vw">
    <app-chats></app-chats>
  </div>
</div>
