/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


app-signup {
  max-width: 600px;
}

app-search {
  max-width: 80%;
  margin: 0 auto;
}

app-search-detail {
  flex-basis: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

p{
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

p.error{
  font-size: 75%;
  color: #f44336;
}
