a:link{
  text-decoration: none
}

a.result{
  max-width:148px;
  margin-bottom: 10px;
  cursor: pointer
}

.searchresults{
  height: 80vh;
  width: 100%;
  overflow: auto;
}

form{
  margin: 2vh auto;
}

.mat-form-field{
  width: 60vw;
}
