<div fxLayout="column" fxLayoutGap="15px;" fxLayoutAlign="center">
  <form [formGroup]="searchForm">
    <mat-form-field>
      <input matInput placeholder="Search by user name" formControlName="search">
    </mat-form-field>
    <p class="error" *ngIf="searchErrorState">{{searchErrorState|async}}</p>
  </form>
  <div fxLayout="row" fxLayoutGap="15px" style="justify-content: center">
    <div fxLayout="column" fxLayoutGap="15px" style="flex-basis:350px">
      <a class="result" [routerLink]="['/main/search/',user.name,i]" *ngFor="let user of (usersListState|async); index as i">
        <mat-card>
          <img mat-card-image height=148px src={{user.avatar}}>
          <mat-card-content>
            <h3>Name: {{user.name}}</h3>
            <p>Age: {{convertToAge(user.dob)}}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
